<ul>
    <% for(let i=0 ; i < url.length ; i++){ 
        let keys = Object.keys( url[i] );
        let values = Object.values( url[i] );
    %>
        <li> <a href="<%= values %>"><%= keys %></a> </li>
    <% } %>
</ul>
    