
    <h1>index 입니다</h1>
    <a href="/login">login 이동</a>
    <a href="/logout">logout 이동</a>
    <a href="/member">member 이동</a>
    <a href="/for">for 이동</a>
    <h1> <%=key %> </h1>
    <!--HTML. JavaScript 는 프론트, 사용자가 보는 화면
    Java, Nodejs는 백, 개발자가 볼 수 있는 화면
-->
